<div class="main">
    <div class="header">
        <h1>Company Detail</h1>
        <hr>
        <h2>Add Company</h2>
    </div>
    <form class="form" [formGroup]="postData">
        <!-- <label for="companyCode">Company Code</label>
        <input type="text" class="form-input" name="companyCode" formControlName="companyCode"
            placeholder="Enter your Company Code here.">
        <span *ngIf="postData.controls['companyCode'].errors?.required && postData.controls['companyCode'].touched">Company Code
            Required</span>
        <br><br><br> -->

        <label for="comapnyName">Comapny Name</label>
        <input type="text" class="form-input" name="comapnyName" formControlName="comapnyName"
            placeholder="Enter your Comapny Name here." [ngClass]="{ 'is-invalid': submitted && f.comapnyName.errors }">
        <span>
            <div *ngIf="submitted && f.comapnyName.errors" class="invalid-feedback">
                <div *ngIf="f.comapnyName.errors.required">required</div>
            </div>
        </span>
            
        <br><br><br>

        <label for="comapnyCEO">Comapny CEO</label>
        <input type="text" class="form-input" name="comapnyCEO" formControlName="comapnyCEO"
            placeholder="Enter your Comapny CEO here." [ngClass]="{ 'is-invalid': submitted && f.comapnyCEO.errors }">
            <span>
                <div *ngIf="submitted && f.comapnyCEO.errors" class="invalid-feedback">
                    <div *ngIf="f.comapnyCEO.errors.required">required</div>
                </div>
            </span>
        <br><br><br>

        <label for="companyTurnover">Company Turnover</label>
        <input type="text" class="form-input" name="companyTurnover" formControlName="companyTurnover"
            placeholder="Enter your companyTurn over here." [ngClass]="{ 'is-invalid': submitted && f.companyTurnover.errors }">
            <span>
                <div *ngIf="submitted && f.companyTurnover.errors" class="invalid-feedback">
                    <div *ngIf="f.companyTurnover.errors.required">required</div>
                </div>
            </span>
        <br><br><br>

        <label for="companyWebsite">Company Website</label>
        <input type="text" class="form-input" name="companyWebsite" formControlName="companyWebsite"
            placeholder="Enter your Company Website here." [ngClass]="{ 'is-invalid': submitted && f.companyWebsite.errors }">
            <span>
                <div *ngIf="submitted && f.companyWebsite.errors" class="invalid-feedback">
                    <div *ngIf="f.companyWebsite.errors.required">required</div>
                </div>
            </span>
        <br><br><br>


       <!---- <label for="stockExchang">Stock Exchang</label>
        <input type="date" class="form-input" name="stockExchang" formControlName="stockExchang"
            placeholder="Enter your Stock Exchang here.">
        <br><br><br>-->

        <label for="stockExchang">Stock Exchang</label>        
            <select id="stockExchang" name="stockExchang" formControlName="stockExchang" class="form-input" [ngClass]="{ 'is-invalid': submitted && f.stockExchang.errors }">
                <option value="NSE">NSE</option>
                <option value="BSE">BSE</option>                
              </select>
              <span>
                <div *ngIf="submitted && f.stockExchang.errors" class="invalid-feedback">
                    <div *ngIf="f.stockExchang.errors.required">required</div>
                </div>
            </span>
        <br><br><br>

        
        <input type="submit" class="button form-submit" value="Add" (click)="AddCmp()"/><br />
      
    <hr>
    </form>
</div>