<div class="main">
    <div class="header">
        <h1>Company Detail</h1>
        <hr>
        <h2>Add Company</h2>
    </div>
    <form class="form" [formGroup]="postData">
        <label for="companyCode">Company Code</label>
        <input type="text" class="form-input" name="companyCode" formControlName="companyCode"
            placeholder="Enter your Company Code here.">
        <span *ngIf="postData.controls['companyCode'].errors?.required && postData.controls['companyCode'].touched">Company Code
            Required</span>
        <br><br><br>

        <label for="comapnyName">Comapny Name</label>
        <input type="text" class="form-input" name="comapnyName" formControlName="comapnyName"
            placeholder="Enter your Comapny Name here.">
        <span
            *ngIf="postData.controls['comapnyName'].errors?.required && postData.controls['comapnyName'].touched">Comapny Name
            Required</span>
        <br><br><br>

        <label for="comapnyCEO">Comapny CEO</label>
        <input type="text" class="form-input" name="comapnyCEO" formControlName="comapnyCEO"
            placeholder="Enter your Comapny CEO here.">
        <br><br><br>

        <label for="companyTurnover">Company Turnover</label>
        <input type="text" class="form-input" name="companyTurnover" formControlName="companyTurnover"
            placeholder="Enter your companyTurn over here.">
        <span *ngIf="postData.controls['companyTurnover'].errors?.required && postData.controls['companyTurnover'].touched">Company Turnover
            Required</span>
        <br><br><br>

        <label for="companyWebsite">Company Website</label>
        <input type="text" class="form-input" name="companyWebsite" formControlName="companyWebsite"
            placeholder="Enter your Company Website here.">
        <span
            *ngIf="postData.controls['companyWebsite'].errors?.required && postData.controls['companyWebsite'].touched">Company Website Required
            </span>
        <br><br><br>


       <!---- <label for="stockExchang">Stock Exchang</label>
        <input type="date" class="form-input" name="stockExchang" formControlName="stockExchang"
            placeholder="Enter your Stock Exchang here.">
        <br><br><br>-->

        <label for="stockExchang">Stock Exchang</label>
        <input type="stockExchang" class="form-input" name="stockExchang" formControlName="stockExchang"
            placeholder="Enter your Stock Exchang here.">
        <span
            *ngIf="postData.controls['stockExchang'].errors?.required && postData.controls['stockExchang'].touched">stockExchang
            Required</span>
        <br><br><br>

        
        <input type="submit" class="button form-submit" value="Add" (click)="saveUser()"
      [disabled]="!postData.valid"><br />
      <input class="button-cancel" value="Cancel" routerLink="/login">
    <hr>
    </form>
</div>