<div class="main">
    <div class="header">
        <h1>Comapny Details</h1>        
    </div>    
</div>
<div class="container">
    <table class="responsive-table">
        <caption>All Registered Company</caption>
        <thead>
            <th scope="col">Company Code</th>
            <th scope="col">Comapny Name</th>
            <th scope="col">Comapny CEO</th>
            <th scope="col">Company Turnover</th>
            <th scope="col">Company Website</th>
            <th scope="col">Stock Exchange</th>
            <th scope="col">Action</th>
        </thead>
        <tbody *ngFor = "let cmp of cmpDetails">
            <td>{{cmp.id}}</td>
            <td>{{cmp.comapnyName}}</td>
            <td>{{cmp.comapnyCEO}}</td>
            <td>{{cmp.companyTurnover}}</td>
            <td>{{cmp.companyWebsite}}</td>
            <td>{{cmp.stockExchang}}</td>
            <td><a (click)= "deleteCmp(cmp.id)" style="cursor: pointer; color: red;">DELETE</a></td>
            <hr>
        </tbody>
    </table>
</div>