<div class="main">
    <div class="header">
        <h1>Comapny Details</h1>
        <hr>
        <h2>Search by Comapny Name</h2>
    </div>
    <form class="form" [formGroup]="postData">
        <label for="cmpCode">Company Name</label>        
            <select id="cmpCode" name="cmpCode" formControlName="cmpCode" class="form-input" 
            [ngClass]="{ 'is-invalid': submitted && f.cmpCode.errors }">
                <option *ngFor = "let cmp of cmpDetails" value="{{cmp.id}}">{{cmp.comapnyName}}</option>                            
              </select>
              <span>
                <div *ngIf="submitted && f.cmpCode.errors" class="invalid-feedback">
                    <div *ngIf="f.cmpCode.errors.required">required</div>
                </div>
            </span>
        <br><br><br>      
            
            
        <label for="searchDateFrom">Date From</label>
        <input type="date" class="form-input" name="searchDateFrom" formControlName="searchDateFrom"
            placeholder="Enter DateFrom ." [ngClass]="{ 'is-invalid': submitted && f.searchDateFrom.errors }">
            <span>
                <div *ngIf="submitted && f.searchDateFrom.errors" class="invalid-feedback">
                    <div *ngIf="f.searchDateFrom.errors.required">required</div>
                </div>
            </span>
        <br><br><br>

        <label for="searchDateTo">Date To</label>
        <input type="date" class="form-input" name="searchDateTo" formControlName="searchDateTo"
            placeholder="Enter DateTo ." [ngClass]="{ 'is-invalid': submitted && f.searchDateTo.errors }">
            <span>
                <div *ngIf="submitted && f.searchDateTo.errors" class="invalid-feedback">
                    <div *ngIf="f.searchDateTo.errors.required">required</div>
                </div>
            </span>
            <br><br><br> 
        
        <input type="submit" class="button form-submit" value="Search" (click)="searchUser()"><br />
        <hr>
    </form>
</div>
<div class="container">
    <table class="responsive-table">
        <caption>Stock Price Within Date Range</caption>
        <thead>
            <th scope="col">Stock Price</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
           
            
        </thead>
        <tbody *ngFor = "let stock of stockDetails">
            <td>{{stock.stockPrice}}</td>
            <td>{{stock.tDate}}</td> 
            <td>{{stock.time}}</td>          
            <hr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="responsive-table">
        <caption>MIN , MAX , AVG Within Sipulated Date</caption>
        <thead>
            <th scope="col">Max Price</th>
            <th scope="col">Min Price</th>
            <th scope="col">Avg Price</th>
           
            
        </thead>
        <tbody>
            <td>{{maxVal}}</td>
            <td>{{minVal}}</td>
            <td>{{avgVal}}</td>
            <hr>
        </tbody>
    </table>
</div>
